In [12]:
import pandas as pd
import numpy as np

In [36]:
data = np.array([x for x in range(12)]).reshape((4, 3))
data

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [37]:
df = pd.DataFrame(
    list(data),
    columns=['AMAZON.COM', 'ABBOTT LABORATORIES', 'AES']

)
df.head()

   AMAZON.COM  ABBOTT LABORATORIES  AES
0           0                    1    2
1           3                    4    5
2           6                    7    8
3           9                   10   11